.carousel img {
    width: 100%;
    height: 700px;
}

.blog-posts .blog-post img,
.blog-post img {
    height: 300px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    margin: 0 0 12px;
    font-size: 16px;
    color: #000000;
  }
  .content ul {
    padding-left: 20px;
  }
h2, h3 {
    color: #54585a;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000000;
}

.card.mb-3 {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    border: none;
}

.card-text{
    font-size: 14px;
    align-self: center;
}