<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand brand-mark" href="{% url 'index' %}" aria-label="Olena Khandii home">
        <span class="brand-name">Olena Khandii</span>
        <span class="brand-role">English teacher</span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto align-items-lg-center">
          <li class="nav-item"><a class="nav-link" href="{% url 'aboutme' %}">Про мене</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Послуги</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'prices' %}">Ціни</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'reviews' %}">Відгуки</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Блог</a></li>
          <li class="nav-item ml-lg-3">
            <a class="btn btn-brand btn-sm" href="{% url 'contact' %}">Запит на навчання</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
