{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>Послуги</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">


</head>

<body>

  {%include 'header.html'%}

  <!-- About my services content part -->
  <div class="container mt-5">
    <div class="content"></div>
      <h3 class="mb-3 text-primary">General English</h3>
      <h5 class="mb-3">Які рівні?</h5>
      <h5>A1-C2</h5>
      <br>
      <h5 class="mb-3">Яка ваша мета?</h5>
      <ul>
        <li>Довгострокова: ви хочете вчити англійську, щоб могти говорити в різних ситуаціях:</li>
        <ul>
          <li>В подорожах</li>
          <li>В навчанні</li>
          <li>На роботі</li>
        </ul>
      </ul>
      <h5 class="mb-3">Який результат?</h5>
      <ul>
        <li>Розширюєте словниковий запас на загальні теми (чим вище рівень, тим абстрактніші теми)</li>
        <li>Підтягуєте граматику</li>
        <li>Долаєте свій страх говоріння</li>
        <li>Починаєте або впевненіше використовуєте автентику типу книги, серіали і т.д.</li>
      </ul>
      <h5 class="mb-3">Який формат?</h5>
      <ul>
        <li>Індивідуальні / парні / групові</li>
      </ul>

      <h3 class="mb-3 text-primary mt-5">Підготовка до ІСПИТІВ</h3>
      <h5 class="mb-3">Спеціалізація:</h5>
      <h4>IELTS, PTE, CELPIP, НМТ, ЄВІ</h4>
      <h5 class="mb-3">Які рівні?</h5>
        <p>Ви повинні знати бал, на який розраховуєте. Якщо ваша англійська не відповідає цьому рівню,
          спочатку працюємо над <em>General English</em>, 
        а потім переходимо до підготовки до іспиту.
        </p>
      <h5 class="mb-3">Яка мета?</h5>
      <ul>
        <li>Вступ до університету за кордоном</li>
        <li>Переїзд за кордон</li>
        <li>Пошук роботи за кордоном</li>
      </ul>
      <h5 class="mb-3">Який результат?</h5>
      <ul>
        <li>Чітке розуміння структури іспиту</li>
        <li>Покращення навичок читання, письма, слухання та говоріння</li>
      </ul>
      <h5 class="mb-3">Скільки часу потрібно?</h5>
      <h4>Це дуже індивідуально. Але точно не тиждень і не рік :)</h4>

      <h3 class="mb-3 text-primary mt-5">Підготовка до співбесіди</h3>
      <h5 class="mb-3">Які рівні?</h5>
      <h4>B1-C2</h4>
      <h5 class="mb-3">Яка мета?</h5>
      <ul>
        <li>Впевнено відповідати на питання інтерв'юера англійською</li>
        <li>Рефлексія над власним досвідом роботи</li>
      </ul>
      <h5 class="mb-3">Який результат?</h5>
      <ul>
        <li>Чітке уявлення щодо відповідей на типові питання</li>
        <li>Покращення навичок самопрезентації</li>
      </ul>
      <h5 class="mb-3">Скільки часу потрібно?</h5>
      <h4>Дуже індивідуально, але в середньому від 2 до 5 занять</h4>

      <h3 class="mb-3 text-primary mt-5">Business English</h3>
      <h5 class="mb-3">Які рівні?</h5>
      <h4>C1</h4>
      <h5 class="mb-3">Яка ваша мета?</h5>
      <ul>
        <li>Ви вже або найближчим часом будете говорити англійською НА РОБОТІ</li>
        <li>Відчуваєте, що загалом для життя вам англійської вистачає, але для участі в робочих мітінгах, колах, презентаціях і т.д. — ні</li>
      </ul>
      <h5 class="mb-3">Про курс:</h5>
      <h4>Цей курс доволі обширний і не спрямований на працівників конкретної сфери.</h4>
      <h5 class="mb-3">Який результат?</h5>
      <ul>
        <li>Розширюєте словниковий запас на робочі теми</li>
        <li>Підтягуєте граматику</li>
        <li>Впевнено і ефективно комунікуєте в роботі</li>
      </ul>

      <h3 class="mb-3 text-primary mt-5">Англійська в асинхронному форматі</h3>
      <h5 class="mb-3">Які рівні?</h5>
      <h4>B2-C1</h4>
      <h5 class="mb-3">Яка ваша мета?</h5>
      <ul>
        <li>Точково попрацювати над конкретним запитом:</li>
        <ul>
          <li>Підготувати виступ / презентацію</li>
          <li>Розширити словниковий запас на певну тему</li>
          <li>Попрацювати над вашим Writing</li>
        </ul>
      </ul>
      <h5 class="mb-3">Яка ваша проблема?</h5>
      <ul>
        <li>У вас немає стабільного часу для занять</li>
      </ul>
      <h5 class="mb-3">Як ми цю проблему вирішуємо?</h5>
      <ul>
        <li>Я надсилаю вам завдання і time frame для його виконання</li>
        <li>Ви надсилаєте мені виконане завдання</li>
        <li>Перевіряю, даю свій фідбек</li>
      </ul>
    </div>
  </div>

  {% include 'footer.html' %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>

  <!-- Additional Scripts -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/owl.js' %}"></script>
  <script src="{% static 'assets/js/slick.js' %}"></script>
  <script src="{% static 'assets/js/isotope.js' %}"></script>
  <script src="{% static 'assets/js/accordions.js' %}"></script>

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>

</body>

</html>